@using WebOficinaDOM.Models.DTO

@model IEnumerable<Menu>

    @if (Model != null)
    {
        <div class="row table-responsive" style="margin-top:20px;">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th class="truncate-cell">
                                URL
                            </th>
                            <th>
                                Target
                            </th>
                            <th>
                                Dependencia
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Nombre


                                </td>
                                <td class="truncate-cell">
                                    @item.Url

                                </td>
                                <td>
                                    @item.TargetString

                                </td>
                                <td>
                                    @item.NombreMenuPadre
                                </td>
                                <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                    <div class="text-center">
                                        <a role="button" title="Editar" data-toggle="modal" data-target="#modalEditarMenu" onclick="enviaDatos(@item.IdMenu)">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    
    <div class="modal fade" id="modalEditarMenu" tabindex="-1" role="dialog" aria-labelledby="myModal2Label">
        <div id="modalEditarMenuContainer"></div>
    </div>
