@using Isp.Laboratorios.Models
@model IEnumerable<Isp.Laboratorios.Models.ViewModels.MuestraViewModel>
@{
    @section Scripts {
        @Scripts.Render("~/bundles/js-chosen")
        @Styles.Render("~/bundles/css-chosen")
        @Scripts.Render("~/bundles/js-grid")
        @Scripts.Render("~/bundles/js-blockUI")
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Recepción Secretaría";
}
@using (Html.BeginForm("RecepcionSecretaria", "Recepciones", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("_Busqueda", (FiltroBusqueda)ViewBag.FiltroBusqueda);

}
<div id="gridContainer">
    @Html.Partial("_GridRecepcionMuestra", Model)
</div>
<div id="modalRechazoContainer">
    @Html.Partial("_ConfirmarRechazoModal")
</div>

<script type="text/javascript">

    $(document).ready(function () {

        gridFunctionCheckAll();
        var muestrasId = [];

        $("#btnRechazar, #btnRechazarBottom").click(function () {

            muestrasId = [];

            $('input#checkboxId:checked').each(function () {
                muestrasId.push($(this).val());
            });
            if (muestrasId.length > 0) {

                obtenerMotivosRechazo(muestrasId);

                $(".modal-body #muestrasIdChecked").val(muestrasId);
                $('.modal-content #formConfirmarRechazo').attr('action', "@Url.Action("RechazarARecepcionMuestras", "Recepciones")");
                $(".modal-content #divEnviarMail").removeClass("hidden");
                $(".modal-content #chkEnviarMail").prop("checked", true);
                $('#modalConfirmarRechazo').modal('show');
            }
            else {
                alert("seleccione muestras para rechazar");
            }
        });


        $("#btnRecepcionar, #btnRecepcionarBottom").click(function () {
            muestrasId = [];

            $('input#checkboxId:checked').each(function () {
                muestrasId.push($(this).val());
            });

            $.ajax({
                url: "@Url.Action("RecepcionarALaboratorio", "Recepciones")",
                type: 'POST',
                data: { muestrasId: muestrasId },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText + " Ha ocurrido un error.");
                },
                success: function (data) {
                    $("#gridContainer").html(data);
                    gridFunctionCheckAll();
                    renderAlert();
                }
            });
        });

        $('#gridCheckAll a').click(function () {
            $("#modalContainer").html("");
            $("#modalContainer").load($(this).data("urlaction"));
            $("#modalContainer").modal('show');
        });
    });
</script>