@using WebPortalDOM.Models.DTO;
@model Noticia
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 id="encabezados" class="titles-site">@Model.Titular</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="separador-fecha text-right">@string.Format("{0:dd MMMM yyyy}", @Model.FechaPublicacion)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noticia">
            @if (!string.IsNullOrEmpty(@Model.Imagen))
            { 
                <img src="@Model.Imagen" class="img-responsive img-thumbnail pull-right" />
            }
            <h4>
                @Model.Bajada
            </h4>
            <div class="text-justify">@Html.Raw(Model.Cuerpo)</div>

        </div>
    </div>
}
else
{
    <div class="text-danger text-center">@WebPortalDOM.Resources.ErrorMessageResources.NoContentNoticeDetail</div>
}