@model WebOficinaDOM.Models.DTO.Noticia


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalPreviaLabel">Vista Previa Noticia</h4>
</div>
@using (Html.BeginForm("BackPreview", "Noticia", FormMethod.Post, new { Id = "BackPreviewNoticeForm", @class = "prevent-default" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h2 id="encabezados" class="titles-site">@Html.DisplayFor(m => m.Titular)</h2>
                @Html.HiddenFor(m=>m.Titular)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="separador-fecha text-right">@DateTime.Now.ToString("dd MMM yyyy")</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img src="~/Content/Img/Noticia/@Model.Imagen" class="img-responsive img-thumbnail pull-right" width="400" />
                @Html.HiddenFor(m => m.Imagen)
                <h4>
                    @Html.DisplayFor(m => m.Bajada)
                    @Html.HiddenFor(m => m.Bajada)
                </h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <p>
                    @Html.Raw(Model.Cuerpo)
                    @Html.HiddenFor(m => m.Cuerpo)
                </p>
             </div>
         </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="btnBackPreview" class="btn btn-default">Volver</button>
    </div>
    @Html.HiddenFor(m=>m.Activo)
    @Html.HiddenFor(m => m.Destacada)
    @Html.HiddenFor(m=>m.IdNoticia)
}


